.App {
    font-family: sans-serif;
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nobtnchange {
    margin-bottom: 40px;
    color: yellow;
    background-color: black;
    height: 46px;
    width: 200px;
    border-radius: 10px;
  }
  .change {
    font-size: 12px;
    font-style: none;
  }
  .btnchange {
    border: none;
    color: black;
    background-color: white;
    margin-bottom: 40px;
  }
  .h2secondchange {
    display: none;
  }
  .h2firstnochange {
    display: none;
  }
  .h2firstchange {
  }
  .h2secondnochange {
    font-size: 13px;
  }
  